@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.cnt{

    background-color: #14274A;
    color: white;
    font-size: 40px;
    height: 100px;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}
.p1{
    font-size: 30px;
}
.btn1{
    font-family: monospace;
    background-color: #E0B973;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}
.btn1:hover {
    background-color: #e6b459;
    box-shadow: 0 0 0 5px #b3bcca5f;
    color: #fff;
  }
  .btnEmail{
    background-color: #E0B973;
    border: none;
    border-radius: 10px;
    color: white;
}
.EmailInput{
    border: #E0B973 2px solid;
    background-color:#14274A ;
}
body{
    overflow-x: hidden;
  }
  

