@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.image {
    filter: brightness(50%);
}

.btn1{
    font-family: monospace;
    background-color: #E0B973;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}
.btn1:hover {
    background-color: #e6b459;
    box-shadow: 0 0 0 5px #b3bcca5f;
    color: #fff;
  }
.btnEmail{
    background-color: #E0B973;
    border: none;
    border-radius: 10px;
    color: white;
}
.EmailInput{
    border: #E0B973 2px solid;
    background-color:#14274A ;
}
.btn2 {
   
    background: #40B3A2;   
    border: 0;
    border-radius: 4px;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
 
  }
  body{
    overflow-x: hidden;
  }
  

  

  
 

@media(orientation:portrait){
    .btn1{
        background-color: #E0B973;
        border: none;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        color: white;
        font-size: 12px;
    }
    .div-section2{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer{
        margin-left: 20px;
    }

}
