@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.image {
    filter: brightness(50%);
}
.btn1{
    font-family: monospace;
    background-color: #E0B973;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}
.btn1:hover {
    background-color: #e6b459;
    box-shadow: 0 0 0 5px #b3bcca5f;
    color: #fff;
  }
  .para{
    padding-left: 100px;
    padding-right: 100px;
  }
  .pp{
    text-align: justify;
  }
  .btnEmail{
    background-color: #E0B973;
    border: none;
    border-radius: 10px;
    color: white;
}
.EmailInput{
    border: #E0B973 2px solid;
    background-color:#14274A ;
}
body{
    overflow-x: hidden;
  }
  
@media(orientation:portrait){
    .card{
        width: 100%;
    }
    .para{
        padding-left: 20px;
        padding-right: 20px;
       
      }

}


